
:root{
    --color-iris: #4D5AE5;
    --color-navyblue: #2E2F42;
    --color-white: #FFFFFF;
    --color-cornflower: #E7E9FC;
    --color-ocean: #404BBF;
    --color-cloud: #F4F4FD;
    --color-dairy: #FCFCFC;
    --color-slate: #434455;
    --color-diary: #FCFCFC;
   
    --font-family-open-sans:'Open sans',san-serif;
    --font-family-roboto: 'Roboto',san-serif;
}

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* added from HW3 container 1158px restricted*/
main,footer{
    min-width: 1558px;
}
.container{
    width: 1158px;
    margin: 0 auto;
}


/* added from HW3 global style reset */
p,
h1,
h2,
h3,
h4,
h5,
h6,ul {
    margin: 0px;
    padding: 0px;
  }


  /* added from HW3 padding 120px push the content to center */
.section{
    padding: 120px;
}

body{
    font-family: 'Opens Sans' ,san-serif;
    font-family: Roboto;
    min-width: 1558px;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    border: unset;
}

.header {
    border-bottom: 1px solid var(--color-cornflower);
    border: 1px;
    background-color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    display: flex;
    padding: 24px;
    border: 0px, 0px, 1px, 0px;
    border-bottom: 1px solid #E7E9FC;
}

.main-header-nav,
.nav-menu,.address-menu
{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 40px;
} 

.main-header-nav, .header-container{
    display: flex;
    justify-content: center;
}

address{
    margin-left:330px;
}


.logo-webstudio::before{
    content: "WEB";
    color: var(--color-iris);
    height:4px;

}

.logo-webstudio{
    color: var(--color-navyblue);
}

.logo-webstudio{
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-align: left;
}

.address-link,
.nav-menu-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);    
}

.active{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-ocean);
}

.line::after{
    content:"";
    height:4px;
    width: 100%;
    background-color: var(--color-ocean);
    border-radius: 2px;
    position: absolute;
    left: 0; 
    bottom: -25px;
}

.nav-menu-list-item:hover, 
.nav-menu-link-item::after{
    position: relative;
    width: 100%;

}




.address-link:hover,
.nav-menu-link:hover{
    color: var(--color-iris);
}

.nav-menu-link:focus{
    color: var(--color-navyblue);
}

.address-link:active{
    color: var(--color-navyblue);
}

.address-link:hover {
    color: var(--color-slate);
}

.main-hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/people-office.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:100%;
   
}

.service-hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--color-white);
    /* HW3 */
    width: 496px;
    text-align: center;
    
    }
.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, 0%);

}

.service-button-cta {
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(0%, -10%);
    background-color: var(--color-ocean);
    color: var(--color-white);
    height: 56px;
    width: 169px;
    box-shadow: none;
    border-radius: 4px;
    border: unset;
    margin: 40px; 
}


.service-button-cta:hover{
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-iris);
}


.services-filter-list{
    width: Hug (586px);
    height: Hug (48px);
    top: 168px;
    left: 427px;
    gap: 24px;
    margin-left:120px;
}


.filter-btn{
    border-radius: 4px;
    /* HW3 */
    width: Hug (116px);
    padding: 12px 24px 12px 24px;
    background: linear-gradient(0deg, #F4F4FD, #F4F4FD),
    linear-gradient(0deg, #E7E9FC, #E7E9FC);
    border: 1px solid var(--color-cornflower);
    cursor: pointer;
    color: var(--color-iris);
}


.filter-btn:hover{
    background: var(--color-ocean);
    color: var(--color-white);
}


.filter-btn:focus{
    background: var(--color-ocean);
    color: var(--color-white);
}

.filter-btn:active{
    background: var(--color-ocean);
    color: var(--color-white);
    cursor: pointer;
    color: var(--color-white);
}

.customers-title,
.section-gallery-title,.our-team-title{
    color: var(--color-navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 40px;
}

.section-features-list{
    text-align: left;
}

.section-features-item-description{
    padding-top: 8px;
}

.section-gallery{
    padding-bottom: 120px;
}

.our-team-name,
.section-features-list{
    color:var(--color-navyblue);

}

.ourteam-work,
.section-features-item {
    color:var(--color-slate);
}

.section-features-list,
.section-gallery-list,
.ourteam-list {
    display: flex;
    list-style: none;
    gap: 40px;
}

footer{
    background: var(--color-navyblue);
}

.container-footer, .text-footer{
    text-align: left;
}

.text-web{
    color: var(--color-iris);
    text-decoration: none;
    font-family: Raleway;
}

.text-studio{
    color: var(--color-cloud);
    text-decoration: none;
    font-family: Raleway;
}
.social-media-list-footer,
.social-media-text,
.text-footer{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-cloud);
    width: 264px;
    padding-top: 8px;
}

.section-ourteam{
    background-color: var(--color-cloud);
}


.our-team-name{
    padding-top: 32px;
}

.ourteam-work{
    /* padding-bottom: 32px; */
    padding-top: 8px;
} 

/* HW3 card container*/
.card{
    background-color: var(--color-white);
    border: 1px solid var(--color-cornflower);
    border-radius: 0px 0px 8px 8px;
    text-align: center;
}

.card-apps{
    background-color: var(--color-white);
    border: 1px solid var(--color-cornflower);
    text-align: left;
   
}

/* portfolio */
.filter-list-item{
    gap: 20px;
    margin: 40px;
    padding-left: 250px;
}


.section-application-list-item,
.section-course-list-item,
.section-webdesign-list-item{
    gap: 20px;
    padding-bottom: 40px;
}


.filter-list-item,
.section-application-list{
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    gap: 24px;
   


}


.service-course{
/* styleName: Header 3; */
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 16px;
    padding-top: 16px;
}




.service-offer{
    /* styleName: Body; */
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 16px;
    padding-bottom: 16px;
}


.section-application-list{
    padding-bottom: 120px;
}



/* HW4 */

.features-images{
    height: 112px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border-radius: 4px; 
    background-color: var(--color-cloud);
}

.social-media-link{
    list-style: none;
    display: inline-flex;
    height: 40px;
    margin: 10px;
    border-radius: 50px 50px;
}


.social-text-footer,.social-link-footer{
    flex-wrap: wrap;
  }
.container-footer {
    display: flex;
    
}



 .footer-link{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-iris);
    border-radius: 50px 50px;
 }


 .social-media-link{
    justify-content: center;
    align-items: center;
    list-style: none;
    
 }

 .client-list-item{
    display: flex;
    list-style: none;
    gap: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
 }



.client-link-item{
    border-radius: 4px;
    display: flex;
    border: 1px solid var(--color-navyblue);
    width: 168px;
    height: 88px;
    align-items: center;
    justify-content: center;
 }


 .client-link-item:hover{
    border: 1px solid var(--color-ocean);
    cursor: pointer;
 }

.client-svg:hover {
    fill: currentColor;
    cursor: pointer;
  }
  
/* SVG  */
.features-svg-icons{
    margin-left: 100px;
    margin-top: 25px;
}

.social-svg{
    width: 24px;
    height: 24px;
    align-items: center;
    fill: var(--color-white);

  }

.company-svg{
    width: 104px;
    height: 56px;
    fill: currentColor;
    
}
 .company-svg:hover{
    fill: var(--color-ocean);
    cursor: pointer;
    
 }
.social-media-list{
    padding-bottom: 32px;
}
.container-content-footer{
    display: flex;
    gap: 40px;
}

.section-features-item{
    align-items: center;
}

/*  HW 5 */

.card{
    background-color: var(--color-white);
    border: 1px solid var(--color-cornflower);
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    opacity: 1;
}
.card:hover{
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    border: 1px solid var(--CLOUD, #F4F4FD);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.card-team {
    position:relative;
    width: 264px;
    overflow: hidden;
  }

  .image {
    display: block;
    width: 264px;
    height: 100%;
  
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    opacity: 1;
    transition: .1s ease;
    background-color: var(--color-iris);
    /*  */
    transform: translateY(100%);
    transition: transform 1s;
    box-shadow: 0 0.1px;
   
    object-fit: cover;
    object-position: center;
    
  }

  .card-team:hover .text {
    opacity: 1;
    transform: translateY(0%);
    transition: transform 1s;
    box-shadow: 0 0.1px;
    width: 264;
    height: 260px;
    /* overflow: hidden; */
    position: absolute;
    overflow: hidden;

   
  }
#shrink{
    flex-shrink: 3;
}
  .text {
    color: var(--color-cloud);
    text-align: center;
    letter-spacing: 0.32px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 40px 32px 40px 32px;
    position: absolute;
    transform: translateY(10%);
    overflow: hidden; 
    background-color: #404BBF;
    position: absolute;
    width: 264px;
    height: 260px;
    opacity: 0;
    transform: translateY(0%);
  }


  .card-figure {
    position: relative;
    width: 360px;
    /* check overflow: hidden */
    overflow: hidden;
    height: 100%;
    transition: .5s;
    
  }

  .card-apps-image,.figcaption-cashless-text {
    display: block;
    width: 360px;
    /* height: 100%; */
    opacity: 1;
    box-shadow: 0px 2px 18px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 24px 0px #2E2F4214;
   
  }

  .figure-cashless-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: translateY(100%);
    transition: transform .1s;
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;

  }

  .figcaption-cashless-text {
    color: var(--color-cloud);
    background-color: var(--color-iris);
    text-align: left;
    letter-spacing: 0.32px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 40px 32px 40px 32px;
    width: 360px;
    height: 300px;
    /* overflow: hidden; */
    position: absolute;
    opacity: 1;
  }
   
  .card-apps:hover .figure-cashless-overlay {
    position: absolute;
    opacity: 1;
    transform: translateY(0);
    transition: transform .1s;
    box-shadow: 0 0.1px;
    transform: translate(transition-duration .1s);   

   }


  /* Modal */
 .modal{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 5px;
    /*transition: visibility var(--transition-duration) ;*/
    transition-property: visibility,opacity;
    transition-duration: var(transition-duration);
    pointer-events: auto;
    transform: none;
}
.modal.is-hidden,.modal-content{
     /*transform*/
    transform: translateY-20px;
     /*scale*/
    transform: scale(0.5);
}
.modal.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    
    
}
.modal-content{
    width: 408px;
    height: 584px;
    flex-shrink: 0;
    background: var(--color-white);
    transform: none;
    border-radius: 4px;
    background: var(--color-diary);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-close{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cornflower);
    border: 0px;
    border-radius: 50px;
    position: absolute;
    right: 8px;
    top: 8px;
    position: absolute;
    left:60%; /*-30px*/
    top: 130px;
    cursor: pointer;
    fill: var(--color-cornflower);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}




button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.user-contact-submit,
input[type=button]
    {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 80px;
      text-decoration: none;
      margin: 2px 2px;
      cursor: pointer;
      margin-right:auto;
      margin-left:auto;
      line-height: 30px;
      font-weight: 700;
      font-size: 16px;
    }
.input[type=textarea]{
    width: 360px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

input[type=number],
input[type=email],
input[type=text]{
    width: 360px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container-modal{
    position:relative;
    width: 100%;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
    
}
.forms-container{
    position: absolute;
    height: 584px;
    width: 408px;
    top: 0px;
    left: 0px;
}
.user-info{
    color: var(--color-slate, #8E8F99);
    margin-left:18px;
    padding: 8px;
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
}

.user-info-comments{
    color: var(--color-slate, #8E8F99);
    margin-left:auto;
    margin-right: auto;
    padding: 8px;
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
    width: 360px;
    height: 120px;
}
h4{
    color: var(--color-navyblue);
    text-align: center;
    padding-top: 20px;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

form, .user-contact{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-family: Roboto;
}
.comment-class{
    margin: 10px 0;
    resize: none;
}

.user-field-contact-icon{
    height: 18px;
    width: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.user-checkox-icon{
    height: 15px;
    width: 16px;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 4px;
    margin-right: 8px;
} 

.footer-content{
    list-style: none;
    text-decoration: none;
    display: inline-block;
}


.footer-subscribe{
    background-color: var(--color-navyblue);
    border: unset;
    border-radius: 4px;
    border: 1px solid var(--color-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.button-subscribe{
    background-color: var(--color-iris);
    margin: 24px;
    padding: 8px 24px;
    border-radius: 4px;

}

.button-send{
    border-radius: 4px;
    background: var(--color-iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--color-white, #FFF);
    text-align: center;
    width: 105px;
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    margin-left: auto;
    margin-right: auto;
}

.social-media-text,
.social-media-list-footer,.footer-content{
    display: flex; 

}

.svg-arrow{
    width: 24px;
    height: 24px;
}
.subscribe-btn{
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: var(--color-iris);
    color: var(--color-white);
}

.subscribe{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    color: var(--color-white);
}

.info-terms{
    margin-left:auto;
    margin-right: 0 auto;
    width: 338px;
    flex-shrink: 0;
}
.footer-field{
    width: 264px;
    height: 40px;
}

.user-icons{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 24px ;
    top:2rem;
    position: relative;
}
 .user-checkox-icon{
    margin-left: 24px ;
    top:1rem;
    position: relative;
 }